@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div>
    <iframe id="iframeIsam" style="width:100%;height:750px;border:none" src="https://retailsupport.groupo.com/itemsetup/SSO/Index/?accessToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImtpUzFFaS1PSFBHUldWd0JURE82Skl6Z3dhZyIsImtpZCI6ImtpUzFFaS1PSFBHUldWd0JURE82Skl6Z3dhZyJ9.eyJjbGllbnRfaWQiOiJpc2MiLCJzY29wZSI6ImlzY2FwaSIsInN1YiI6IjEyNDZhOWZiLTU2YjQtNDg4MC1hN2E2LWQwMGQzN2Y0M2ZmZCIsImFtciI6InBhc3N3b3JkIiwiYXV0aF90aW1lIjoiMTYwNzYzMTkxNiIsImlkcCI6Imlkc3J2IiwicHJlZmVycmVkX3VzZXJuYW1lIjoiZGV2LnBhIiwicm9sZSI6IlBhcnRzLUFkbWluaXN0cmF0b3IiLCJpc3MiOiJodHRwczovL2xvY2FsaG9zdDo4MDc0L2lkZW50aXR5IiwiYXVkIjoiaHR0cHM6Ly9sb2NhbGhvc3Q6ODA3NC9pZGVudGl0eS9yZXNvdXJjZXMiLCJleHAiOjE2MDc2MzU1MTYsIm5iZiI6MTYwNzYzMTkxNn0.Is5zALPtwRKz9QYNCLRBln7LhY-yJs-ksjNqNRbKPcmV2CSF9Ia48-wUBBx3Fiihol-LLjkaKittFLTImk7QsmsGEBbT_aQ_UitaWuFQgHH48gVDYquN6PnXEI9mCWaYhmuM6cN2qbqYxccRnfiO9JGsPVSAWFKSPg7kDvX9DT0pd0gKCLvIKLgaKSNRb6eEBzfuv09sjrzAhatWSym2AQmL30_OgRTiHDiRVAmnUYsXlurS6UQFrL-5_anux7ITNwheAnrO_CF0XtWuSNDi-XUAqhaYVE5LglorT2gWQQbhTXhJ1hN_-SgjvKXsFdrudWvsBlpd7L3HzVHVNJNURk__7Ma-pjky8iAtAxPiv5NsmagOR4lDj8qCrzKNl5iPywodb2XmVND6CWxyIqm4_yCNNEEMDCFl9MrJh8l47gg-nHAi9mWhhprfddiPkqGTdz-IdvxQco1_e_5YTFX-9xjRux2Ua1zPbruPXmVvtsLAmwt0BRKkIS4p50fmcYkvSY7mgnd-4YPUff_d8NZfUUz8nN9VzCznkkyNnBrB6yDPPpP5pIYRamQjBRRq4QVpkw5P9qjWBL4l6IIChHuFcLpatKIAi6pLDeNZ_dS7FDn9eBX4nGEZvvR8vZw8o5Gku48-uXqPpWPFN8gC9j68G5DS7gMjCvtew8aBf3CkkK4" class="ui-droppable"></iframe>
</div>