@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div>
    https://retailsupport.groupo.com/itemsetup/SSO/Index/?accessToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImtpUzFFaS1PSFBHUldWd0JURE82Skl6Z3dhZyIsImtpZCI6ImtpUzFFaS1PSFBHUldWd0JURE82Skl6Z3dhZyJ9.eyJjbGllbnRfaWQiOiJpc2MiLCJzY29wZSI6ImlzY2FwaSIsInN1YiI6IjEyNDZhOWZiLTU2YjQtNDg4MC1hN2E2LWQwMGQzN2Y0M2ZmZCIsImFtciI6InBhc3N3b3JkIiwiYXV0aF90aW1lIjoiMTYwNzYzMjQ4NyIsImlkcCI6Imlkc3J2IiwicHJlZmVycmVkX3VzZXJuYW1lIjoiZGV2LnBhIiwicm9sZSI6IlBhcnRzLUFkbWluaXN0cmF0b3IiLCJpc3MiOiJodHRwczovL2xvY2FsaG9zdDo4MDc0L2lkZW50aXR5IiwiYXVkIjoiaHR0cHM6Ly9sb2NhbGhvc3Q6ODA3NC9pZGVudGl0eS9yZXNvdXJjZXMiLCJleHAiOjE2MDc2MzYwODcsIm5iZiI6MTYwNzYzMjQ4N30.r2uAhHj998irkUzpGw2MBm9SX8XpHnsWNtt4bRpeQRkQ80YuJBPnOwZ8sEkcwrb1u29pimHoxLfsWFKB_Kus_gnrwTTagZuh9LiJdoHKKqEVSe6JlmSqTBi1NqOthEX0-lZj2h82rhBB_QOlkbK37rnr0QeZBsAeiFh1dUHgw7xOf4SfZfZ8_Unb6uyfwtSv2_Nruc-LId8l8O6yCMUcbWYf3bBb7nAjiuxBJpTb8fPKROy11D0LMUgrQX5oneBxWqYN1dFxCCh8HbpY1LK6LVYu8n0HiWJMw1pnFZClushh7g4k0FklnsVbLuypwswfEmFLBLcF0LxHSPgiO7Tyt7KwmGlh0PZKNTSLHCQwLgf82zve4_-NZjex2AvfjkxR2aduKMw-5m1S-EPHwH-CStaMPXBlGf8-F73x8mp7sdF5L1xMRrX8yD09DNYeKafNGQKrP1gkTV3f6BshIv4Gxpc337v_GmD1L-6IKhaSeXyETa-Ka0Ne8G4nufGK6TYJdfPhUREM8_vLU73Vp3GOjWgw-o8x9pTlkY7ZyugH9Tj9jlq6typxUbTD-NoNjHps5DolRBlXeXrBCKA4Fa_IyPZ_JnYwJPouKq5NOPdDB0quriL7QEp17boCOl803g9dQI3fyKFXODZqxoNeJQS43uM8iKjzy2SICW3J-q-Qh6o
</div>